
<!--<div class="row g-5 mb-5">
  <div>
   
<div class="row g-5 mb-4">
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219" target="_blank"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383" target="_blank"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="24%"></a>
 <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/admt.202300732" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AMT_CL.png" alt="Advanced Materials Technologies Cover (2023)" width="24%"></a>
    
   <br><br>
    <a href="https://www.nature.com/articles/s41591-020-0792-9" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatMed.png" alt="Nature Medicine Cover (2020)" width="24%"></a>
    <a href="https://www.nature.com/articles/s41551-019-0480-6" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatBME.png" alt="Nature BME Cover (2020)" width="24%"></a>
    <a href="https://pubs.acs.org/doi/full/10.1021/acssuschemeng.4c07823" target="_blank"><img src="{{ site.github.url }}/assets/img/2025_ACS.png" alt="ACS Sustainable Chem Eng Cover (2025)" width="24%"></a>
    <a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc00705f" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_LabChip2.png" alt="Lab Chip Cover (2020)" width="24%"></a>
 
  </div>
</div>
<br> -->

<!--<h4 class="fw-bold pb-1 mb-3">Media Mentions & Work Featured in the Press</h4>-->
    
  <h4 class="fw-bold pb-1 mb-3"> 
    <a href="https://clrliu.github.io/news#2025">2025</a> | 
    <a href="https://clrliu.github.io/news#2024">2024</a> | 
    <a href="https://clrliu.github.io/news#2023">2023</a> | 
    <a href="https://clrliu.github.io/news#2022">2022</a> | 
    <a href="https://clrliu.github.io/news#2021">2021</a> | 
    <a href="https://clrliu.github.io/news#2020">2020</a> | 
    <a href="https://clrliu.github.io/news#2019">2019</a> | 
    <a href="https://clrliu.github.io/news#2018">2018</a> | 
    <a href="https://clrliu.github.io/news#2016">2016</a> | 
    <a href="https://clrliu.github.io/news#2015">2015</a> | 
    <a href="https://clrliu.github.io/news#2014">2014</a> </h4>

    
    <!--<p>To view all publications and citations, please check <a href="https://scholar.google.com/citations?user=YUNb8NgAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

      <p>*denotes equal contribution</p> -->
    <br> 

      <section id = "2025">   
      <h4 class="fw-bold pb-1 mb-3">2025</h4>

      <p><a href="https://www.forbes.com/30-under-30/2026/science?profile=claire-liu" target="_blank">"Forbes 30 Under 30 List (Science), United States 2026"</a> <i>Forbes</i>, published December 2nd, 2025.</p>
      
        
     <p><a href="https://info.chanzuckerberg.com/nexus-heading-off-disease-with-continuous-protein-monitoring" target="_blank">"Microsystem technologies for accelerating the discovery and translation of immunotherapies"</a> <i>Chan Zuckerberg Biohub Network</i>, published October 16th, 2025.</p>
      
      <p><a href="https://biohub.org/life-science/nurturing-sciences-next-generation/" target="_blank">"Nurturing science’s next generation"</a> <i>Chan Zuckerberg Biohub Network</i>, published August 22nd, 2025.</p>
      
      
      </section>
    
    <br><br>

      <section id = "2024">    
      <h4 class="fw-bold pb-1 mb-3">2024</h4>
        
          <p><a href="https://www.linkedin.com/posts/cz-biohub_czbiohubchi-activity-7227690483135762436-Ve8K/" target="_blank">"Meet #CZBiohubChi scientists Claire Liu & Daniel Wang."</a> <i>Chan Zuckerberg Biohub Network</i>, published August 9th, 2024.</p>

        <p><a href="https://info.chanzuckerberg.com/nexus-living-bioelectronics-and-removing-bottlenecks-in-cryoet-1" target="_blank">"Self-Healing Materials for Bioelectronic Devices"</a> <i>Chan Zuckerberg Biohub Network</i>, published July 1st, 2024.</p>
      

        
        </section>
        
    <br><br>

    <section id = "2023"> 
    <h4 class="fw-bold pb-1 mb-3">2023</h4>
        
        <p><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adfm.202370203" target="_blank">Our work was selected as the front cover of <i>Advanced Functional Materials</i> (Vol. 33, Iss. 34)</a>, published August 22nd, 2023.</p>

        <p><a href="https://www.linkedin.com/posts/mccormick-school-of-engineering_nu2023-activity-7074069698992107520-LiCV/" target="_blank">"2023 Graduation - Reception with the Dean"</a> <i>Northwestern University McCormick School of Engineering</i>, published June 12th, 2023.</p>
      
      
    </section>

 <br><br>

    <section id = "2022"> 
    <h4 class="fw-bold pb-1 mb-3">2022</h4>

       <p><a href="https://news.northwestern.edu/stories/2022/06/dissolving-implant-relieves-pain-without-drugs/" target="_blank">"Dissolving implantable device relieves pain without drugs"</a> <i>Northwestern University</i>, published June 30th, 2022.</p>
       
      <!--<p><a href="https://www.science.org/doi/10.1126/science.abm8159" target="_blank">"Cooling the pain"</a> <i>Science Perspective</i>, published June 30th, 2022.</p>-->

      

      </section>
      
    <br><br> 

  <section id = "2021">   
<h4 class="fw-bold pb-1 mb-3">2021</h4>
        
        <p><a href="https://physicsworld.com/a/wireless-device-eases-blood-pressure-monitoring-for-children-in-intensive-care/" target="_blank">"Wireless device eases blood-pressure monitoring for children in intensive care"</a> <i>Physics World</i>, published May 19th, 2021.</p>

        <p><a href="https://www.youtube.com/watch?v=dv_R5TUSHHg" target="_blank">Our devices were showcased in a video feature by <i>Northwestern University</i></a>, published January 11th, 2021.</p>

    </section>
    
 <br><br> 

 <section id = "2020">     
<h4 class="fw-bold pb-1 mb-3">2020</h4>

        <p><a href="https://www.science.org/doi/10.1126/scitranslmed.abb2779" target="_blank">"Wireless monitoring in the ICU"</a> <i>Science Translational Medicine Editor's Choice</i>, published March 25th, 2020.</p>

         <p><a href="https://www.nature.com/articles/d41586-020-00805-y" target="_blank">"A wireless wearable patch records a fragile baby’s every cry"</a> <i>Nature Research Highlight</i>, published March 19th, 2020.</p>

         <p><a href="https://www.nature.com/articles/s41591-020-0798-3" target="_blank">"Wireless monitoring in the ICU on the horizon"</a> <i>Nature Medicine News & Views</i>, published March 11th, 2020.</p>

         <p><a href="https://news.northwestern.edu/stories/2020/03/wireless-skin-mounted-sensors-monitor-babies-pregnant-women-in-the-developing-world-2/" target="_blank">"Wireless, skin-mounted sensors monitor babies, pregnant women in the developing world"</a> <i>Northwestern University</i>, published March 11th, 2020.</p>
      
    

   </section>
   
 <br><br> 

 <section id = "2019">   
<h4 class="fw-bold pb-1 mb-3">2019</h4>

        <p><a href="https://archive.ph/1vRir" target="_blank">"'It's not every day the CSO shows up at your school': Muti conducts free community concert"</a> <i>Chicago Tribune</i>, published September 25th, 2019.</p>
        <!--<p><a href="https://www.chicagotribune.com/2019/09/25/its-not-every-day-the-cso-shows-up-at-your-school-muti-conducts-free-community-concert/" target="_blank">"‘It’s not every day the CSO shows up at your school’: Muti conducts free community concert"</a> <i>Chicago Tribune</i>, published September 25th, 2019.</p> -->
      
        <p><a href="https://crn.northwestern.edu/news/2019/sqi-inspires-high-school-students-interested-in-biotechnology.html" target="_blank">"SQI inspires high school students interested in biotechnology"</a> <i>Northwestern University Simpson Querrey Institute</i>, published July 16th, 2019.</p>
      

   </section>

 <br><br> 

 <section id = "2018">    
<h4 class="fw-bold pb-1 mb-3">2018</h4>

       <p><a href="https://chemistry.uchicago.edu/news/students-receive-nsf-graduate-research-fellowships-and-honorable-mentions" target="_blank">"Students Receive NSF Graduate Research Fellowships and Honorable Mentions"</a> <i>The University of Chicago Department of Chemistry</i>, published April 9th, 2018.</p>
         

   </section>

 <br><br>

 <section id = "2016">    
<h4 class="fw-bold pb-1 mb-3">2016</h4>

       <p><a href="https://pme.uchicago.edu/sites/default/files/2019-10/2016_IME_Annual_Report.pdf" target="_blank">"IME's Emerging Coherence and Impact (2016 Annual Report)"</a> <i>The University of Chicago Institute for Molecular Engineering</i>, published December 2016.</p>
         

   </section>

 <br><br>

<section id = "2015">    
<h4 class="fw-bold pb-1 mb-3">2015</h4>

       <p><a href="https://news.uchicago.edu/story/uchicago-creates-undergraduate-major-molecular-engineering" target="_blank">"UChicago creates undergraduate major in molecular engineering"</a> <i>The University of Chicago News</i>, published July 1st, 2015.</p>
         

   </section>

 <br><br>


    <section id = "2014"> 
    <h4 class="fw-bold pb-1 mb-3">2014</h4>

       <p><a href="https://nnhsnorthstar.com/8411/featured-content-gallery/senior-claire-liu-earns-high-honor-for-work-with-solar-energy/" target="_blank">"Senior Claire Liu earns high honor for work with solar energy"</a> <i>The North Star</i>, published January 22nd, 2014.</p>
         

      </section>
    
      </div>
</div>




    <!-- {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}-->
