
<!--<div class="row g-5 mb-5">
  <div>
   
<div class="row g-5 mb-4">
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219" target="_blank"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383" target="_blank"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="24%"></a>
 <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/admt.202300732" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AMT_CL.png" alt="Advanced Materials Technologies Cover (2023)" width="24%"></a>
    
   <br><br>
    <a href="https://www.nature.com/articles/s41591-020-0792-9" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatMed.png" alt="Nature Medicine Cover (2020)" width="24%"></a>
    <a href="https://www.nature.com/articles/s41551-019-0480-6" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatBME.png" alt="Nature BME Cover (2020)" width="24%"></a>
    <a href="https://pubs.acs.org/doi/full/10.1021/acssuschemeng.4c07823" target="_blank"><img src="{{ site.github.url }}/assets/img/2025_ACS.png" alt="ACS Sustainable Chem Eng Cover (2025)" width="24%"></a>
    <a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc00705f" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_LabChip2.png" alt="Lab Chip Cover (2020)" width="24%"></a>
 
  </div>
</div>
<br> -->


    
  <h4 class="fw-bold pb-1 mb-3"> 
    <a href="https://clrliu.github.io/news#2025">2025</a> | 
    <a href="https://clrliu.github.io/news#2024">2024</a> | 
    <a href="https://clrliu.github.io/news#2023">2023</a> | 
    <a href="https://clrliu.github.io/news#2022">2022</a> | 
    <a href="https://clrliu.github.io/news#2021">2021</a> | 
    <a href="https://clrliu.github.io/news#2020">2020</a> | 
    <a href="https://clrliu.github.io/news#2019">2019</a> | 
    <a href="https://clrliu.github.io/news#2018">2018</a> | 
    <a href="https://clrliu.github.io/news#2016">2016</a> | 
    <a href="https://clrliu.github.io/news#2014">2014</a> </h4>

    
    <!--<p>To view all publications and citations, please check <a href="https://scholar.google.com/citations?user=YUNb8NgAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

      <p>*denotes equal contribution</p> -->
    <br> 

      <section id = "2025">   
      <h4 class="fw-bold pb-1 mb-3">2025</h4>

    
      <p><a href="https://www.czbiohub.org/life-science/nurturing-sciences-next-generation/" target="_blank">"Nurturing science’s next generation"</a> <i>Chan Zuckerberg Biohub Network</i>, published August 22nd, 2025.</p>
      
      
      </section>
    
    <br><br>

      <section id = "2024">    
      <h4 class="fw-bold pb-1 mb-3">2024</h4>
        
        <p>21.) <b><u>C. Liu</u></b>, S. O. Kelley, and Z. Wang. Self-Healing Materials for Bioelectronic Devices. <i>Advanced Materials</i> <b>36</b>, 2401219 (2024). 
          <a href="https://doi.org/10.1002/adma.202401219" target="_blank">https://doi.org/10.1002/adma.202401219</a> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adma.202470278" target="_blank">(Cover Feature)</a></b> </p>

        </section>
        
    <br><br>

    <section id = "2023"> 
    <h4 class="fw-bold pb-1 mb-3">2023</h4>
        
        <p>20.) Y. Wu*, <b><u>C. Liu</u></b>*, M. Lapiere, J. L. Ciatti, D. S. Yang, J. Berkovich, J. B. Model, A. Banks, R. Ghaffari, J.-K. Chang, R. G.
          Nuzzo, and J. A. Rogers. Thermoplastic Elastomers for Wireless, Skin-Interfaced Electronic, and Microfluidic Devices. <i>Advanced Materials Technologies</i> <b>8</b>, 2300732 (2023). 
          <a href="https://doi.org/10.1002/admt.202300732" target="_blank">https://doi.org/10.1002/admt.202300732</a> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/admt.202370101" target="_blank">(Cover Feature)</a></b> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/toc/10.1002/(ISSN)2365-709X.editors-choice?page=2" target="_blank">(Editor's Choice Feature)</a></b> </p>

      
    </section>

 <br><br>

    <section id = "2022"> 
    <h4 class="fw-bold pb-1 mb-3">2022</h4>

        <p>16.) M. Fornaro, C. Dipollina*, Darryl Giambalvo*, R. Garcia*, C. Sigerson, H. Sharthiya, <b><u>C. Liu</u></b>, P. F. Nealey, K. Kristjansdottir, 
          and J. Z. Gasiorowski. Submicron Topographically Patterned 3D Substrates Enhance Directional Axon
          Outgrowth of Dorsal Root Ganglia Cultured Ex Vivo. <i>Biomolecules</i> <b>12</b>, 1059 (2022).
          <a href="https://doi.org/10.3390/biom12081059" target="_blank">https://doi.org/10.3390/biom12081059</a></p>


      </section>
      
    <br><br> 

  <section id = "2021">   
<h4 class="fw-bold pb-1 mb-3">2021</h4>
        
        <p><a href="https://physicsworld.com/a/wireless-device-eases-blood-pressure-monitoring-for-children-in-intensive-care/" target="_blank">"Wireless device eases blood-pressure monitoring for children in intensive care"</a> <i>Physics World</i>, published May 19th, 2021.</p>
      

    </section>
    
 <br><br> 

 <section id = "2020">     
<h4 class="fw-bold pb-1 mb-3">2020</h4>
        
         <p><a href="https://www.nature.com/articles/s41591-020-0798-3" target="_blank">"Wireless monitoring in the ICU on the horizon"</a> <i>Nature Medicine News & Views</i>, published March 11th, 2020.</p>
      
    

   </section>
   
 <br><br> 

 <section id = "2019">   
<h4 class="fw-bold pb-1 mb-3">2019</h4>
        
        <p><a href="https://crn.northwestern.edu/news/2019/sqi-inspires-high-school-students-interested-in-biotechnology.html" target="_blank">"SQI inspires high school students interested in biotechnology"</a> <i>Northwestern University Simpson Querrey Institute</i>, published July 16th, 2019.</p>
      

   </section>

 <br><br> 

 <section id = "2018">    
<h4 class="fw-bold pb-1 mb-3">2018</h4>

       <p><a href="https://chemistry.uchicago.edu/news/students-receive-nsf-graduate-research-fellowships-and-honorable-mentions" target="_blank">"Students Receive NSF Graduate Research Fellowships and Honorable Mentions"</a> <i>The University of Chicago Department of Chemistry</i>, published April 9th, 2018.</p>
         

   </section>

 <br><br>

 <section id = "2016">    
<h4 class="fw-bold pb-1 mb-3">2016</h4>

       <p><a href="https://pme.uchicago.edu/sites/default/files/2019-10/2016_IME_Annual_Report.pdf" target="_blank">"IME's Emerging Coherence and Impact (2016 Annual Report)"</a> <i>The University of Chicago Institute for Molecular Engineering</i>, published December 2016.</p>
         

   </section>

 <br><br>


    <section id = "2014"> 
    <h4 class="fw-bold pb-1 mb-3">2014</h4>

        <p>1.) A. M. Sand, <b><u>C. Liu</u></b>, A. J. S. Valentine, and D. A. Mazziotti. 
          Interrogation of Electrochemical Properties of Polymer Electrolyte Thin Films with Interdigitated Electrodes.  
           <i>The Journal of Physical Chemistry A</i> <b>118</b>, 6085-6091 (2014). <a href="https://doi.org/10.1021/jp503900m" target="_blank">https://doi.org/10.1021/jp503900m</a>
         </p>    

      </section>
    
      </div>
</div>




    <!-- {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}-->
