<div class="row g-5 mb-5">
  <div>
    <!--<h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>-->
    <p>To view all publications, please check <a href="https://scholar.google.com/citations?user=YUNb8NgAAAAJ&hl=en">Google Scholar</a>.</p>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="30%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="30%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="30%"></a>
  </div>
</div>


      <p>*authors equally contributed</p>
      <h4 class="fw-bold pb-1 mb-3">2025</h4>
      <p>H.-S. Shin*, J. Kim*, N. Fadell, L. B. Pewitt, Y. Shaaban, <b><u>C. Liu</u></b>, M.-S. Jo, J. Bozovic, A. Tzavelis, M. Park, K. Koogler, J.-T. Kim, J.-Y. Yoo, J. A. Rogers, and M. A. Pet. Soft, skin-interfaced 
        wireless electrogoniometry systems for continuous monitoring of finger and wrist joints. <i>Nature Communications</i> <b>16</b>, 4426 (2025). <a href="https://doi.org/10.1038/s41467-025-59619-z">https://doi.org/10.1038/s41467-025-59619-z</a></p>
      <p>C. Liu, et al.<a href="">Link</a></p>
      <p>C. Liu, et al.<a href="">Link</a></p>
      <p>C. Liu, et al.<a href="">Link</a></p>

    <br><br>
    
      <h4 class="fw-bold pb-1 mb-3">2024</h4>
      <p>C. Liu, et al.<a href="">Link</a></p>
      <p>C. Liu, et al.<a href="">Link</a></p>
      <p>C. Liu, et al.<a href="">Link</a></p>
      <p>C. Liu, et al.<a href="">Link</a></p>
    
      </div>
</div>




    <!-- {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}-->

