
<div class="row g-5 mb-5">
  <div>
    <!--<h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>-->
<div class="row g-5 mb-4">
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219" target="_blank"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383" target="_blank"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="24%"></a>
 <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/admt.202300732" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AMT_CL.png" alt="Advanced Materials Technologies Cover (2023)" width="24%"></a>
    
   <br><br>
    <a href="https://www.nature.com/articles/s41591-020-0792-9" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatMed.png" alt="Nature Medicine Cover (2020)" width="24%"></a>
    <a href="https://www.nature.com/articles/s41551-019-0480-6" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatBME.png" alt="Nature BME Cover (2020)" width="24%"></a>
    <a href="https://pubs.acs.org/doi/full/10.1021/acssuschemeng.4c07823" target="_blank"><img src="{{ site.github.url }}/assets/img/2025_ACS.png" alt="ACS Sustainable Chem Eng Cover (2025)" width="24%"></a>
    <a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc00705f" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_LabChip2.png" alt="Lab Chip Cover (2020)" width="24%"></a>
 
  
  </div>
</div>
<br>
 <p>To view all publications and citations, please check <a href="https://scholar.google.com/citations?user=YUNb8NgAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

      <p>*denotes equal contribution</p>
    <br>
    
      <h4 class="fw-bold pb-1 mb-3">2025</h4>
      <p>H.-S. Shin*, J. Kim*, N. Fadell, L. B. Pewitt, Y. Shaaban, <b><u>C. Liu</u></b>, M.-S. Jo, J. Bozovic, A. Tzavelis, M. Park, K. Koogler, J.-T. Kim, J.-Y. Yoo, J. A. Rogers, and M. A. Pet. Soft, skin-interfaced 
        wireless electrogoniometry systems for continuous monitoring of finger and wrist joints. <i>Nature Communications</i> <b>16</b>, 4426 (2025). <a href="https://doi.org/10.1038/s41467-025-59619-z" target="_blank">https://doi.org/10.1038/s41467-025-59619-z</a></p>
      
      <p>L. C. Alarcon-Segóvia*, K. E. Madsen*, <b><u>C. Liu</u></b>, S. H. Kim, T. W. Park, Y. Du, J. L. Ciatti, K. H. Salame, J.-Y. Yoo, and J. A. Rogers. Ultralow-Cost Hydrogel Electrolytes Based on
        Agricultural Byproducts for Distributed Electrophysiological Recording in Resource-Limited Settings. <i>ACS Sustainable Chemistry  & Engineering</i> <b>13</b>, 17, 6051-6063 (2025). <a href="https://doi.org/10.1021/acssuschemeng.4c07823" target="_blank">https://doi.org/10.1021/acssuschemeng.4c07823</a> 
        <b><a href="https://pubs.acs.org/toc/ascecg/13/17" target="_blank">(Cover Feature)</a></b></p>
    
    
    <br><br>
    
      <h4 class="fw-bold pb-1 mb-3">2024</h4>
        
        <p> <b><u>C. Liu</u></b>, S. O. Kelley, and Z. Wang. Self-Healing Materials for Bioelectronic Devices. <i>Advanced Materials</i> <b>36</b>, 2401219 (2024). 
          <a href="https://doi.org/10.1002/adma.202401219" target="_blank">https://doi.org/10.1002/adma.202401219</a> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adma.202470278" target="_blank">(Cover Feature)</a></b> </p>

    <br><br>
    
    <h4 class="fw-bold pb-1 mb-3">2023</h4>
        
        <p> Y. Wu*, <b><u>C. Liu</u></b>*, M. Lapiere, J. L. Ciatti, D. S. Yang, J. Berkovich, J. B. Model, A. Banks, R. Ghaffari, J.-K. Chang, R. G.
          Nuzzo, and J. A. Rogers. Thermoplastic Elastomers for Wireless, Skin-Interfaced Electronic, and Microfluidic Devices. <i>Advanced Materials Technologies</i> <b>8</b>, 2300732 (2023). 
          <a href="https://doi.org/10.1002/admt.202300732" target="_blank">https://doi.org/10.1002/admt.202300732</a> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/admt.202370101" target="_blank">(Cover Feature)</a></b> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/toc/10.1002/(ISSN)2365-709X.editors-choice?page=2" target="_blank">(Editor's Choice Feature)</a></b> </p>

        <p>J. Kim*, S. Yoo*, <b><u>C. Liu</u></b>*, S. S. Kwak*, J. R. Walter, S. Xu, and J. A. Rogers. Skin-interfaced wireless biosensors for perinatal and
          paediatric health. <i>Nature Reviews Bioengineering</i> <b>1</b>, 631-647 (2023). <a href="https://doi.org/10.1038/s44222-023-00090-0" target="_blank">https://doi.org/10.1038/s44222-023-00090-0</a></p>

        <p><b><u>C. Liu</u></b>*, J.-T. Kim*, D. S. Yang*, D. Cho*, S. Yoo, S. R. Madhvapathy, H. Jeong, T. Yang, H. Luan, R. Avila, J. Park, Y. Wu, K. Bryant, M. Cho, 
          J.Y. Lee, J. Y. Kwak, W.H. Ryu, Y. Huang, R. G. Nuzzo, and J. A. Rogers. Multifunctional Materials Strategies for Enhanced Safety of Wireless, Skin-Interfaced
          Bioelectronic Devices. <i>Advanced Functional Materials</i> <b>33</b>, 2302256 (2023). <a href="https://doi.org/10.1002/adfm.202302256" target="_blank">https://doi.org/10.1002/adfm.202302256</a>
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adfm.202370203" target="_blank">(Cover Feature)</a></b></p>

        <p>H. Lin, B. C. Blackwell, C. C. Call, S. Liu, <b><u>C. Liu</u></b>, M. M. Driscoll, and J. J. Richards. FSVPy: A python-based
          package for fluorescent streak velocimetry (FSV). <i>Journal of Rheology</i> <b>67</b>, 197-206 (2023). 
          <a href="https://doi.org/10.1122/8.0000521" target="_blank">https://doi.org/10.1122/8.0000521</a></p>


 <br><br>
    
    <h4 class="fw-bold pb-1 mb-3">2022</h4>

        <p>M. Fornaro, C. Dipollina*, Darryl Giambalvo*, R. Garcia*, C. Sigerson, H. Sharthiya, <b><u>C. Liu</u></b>, P. F. Nealey, K. Kristjansdottir, 
          and J. Z. Gasiorowski. Submicron Topographically Patterned 3D Substrates Enhance Directional Axon
          Outgrowth of Dorsal Root Ganglia Cultured Ex Vivo. <i>Biomolecules</i> <b>12</b>, 1059 (2022).
          <a href="https://doi.org/10.3390/biom12081059" target="_blank">https://doi.org/10.3390/biom12081059</a></p>

        <p> J. T. Reeder*, Z. Xie*, Q. Yang*, M.-H. Seo*, Y. Yan, Y. Deng, K. R. Jinkins, S. R. Krishnan, <b><u>C. Liu</u></b>*, S. McKay,
          E. Patnaude, A. Johnson, Z. Zhao, M. J. Kim, Y. Xu, I. Huang, R. Avila, C. Felicelli, E. Ray, X. Guo, W. Z. Ray, Y. Huang, M. R. MacEwan, and J. A. Rogers. 
          Soft, bioresorbable coolers for reversible conduction block of peripheral nerves. <i>Science</i> <b>377</b>, 109-115 (2022). 
          <a href="https://doi.org/10.1126/science.abl8532" target="_blank">https://doi.org/10.1126/science.abl8532</a></b> 
           </p>

        <p> Y. S. Choi*, H. Jeong*, R. T. Yin*, R. Avila, A. Pfenniger, J. Yoo, J. Y. Lee, A. Tzavelis, Y. J. Lee, S. W. Chen, H. S. Knight,
           S. Kim, H.-Y. Ahn, G. Wickerson, A. Vázquez-Guardado, E. Higbee-Dempsey, B. A. Russo, M. A. Napolitano, 
           T. J. Holleran, L. A. Razzak, A. N. Miniovich, G. Lee, B. Geist, B. Kim, S. Han, J. A. Brennan, K. Aras, S. S. Kwak, J. Kim, 
           E. A. Waters, X. Yang, A. Burrell, K. S. Chun, <b><u>C. Liu</u></b>*, C. Wu, A. Y. Rwei, A. N. Spann, A. Banks, D. Johnson, 
           Z. J. Zhang, C. R. Haney, S. H. Jin, A. V. Sahakian, Y. Huang, G. D. Trachiotis, B. P. Knight, R. K. Arora, I. R. Efimov, and J. A. Rogers. 
          A transient, closed-loop network of wireless, body-integrated devices for autonomous electrotherapy. 
          <i>Science</i> <b>376</b>, 1006-1012 (2022). <a href="https://doi.org/10.1126/science.abm1703" target="_blank">https://doi.org/10.1126/science.abm1703</a></b> 
           </p>

    <br><br> 
<h4 class="fw-bold pb-1 mb-3">2021</h4>
        
        <p> S. S. Kwak*, S. Yoo*, R. Avila*, H. U. Chung*, H. Jeong, <b><u>C. Liu</u></b>, J. L. Vogl, J. Kim, H.-J. Yoon, Y. Park, H. Ryu, G. Lee, 
          J. Kim, J. Koo, Y. S. Oh, S. Kim, S. Xu, Z. Zhao, Z. Xie, Y. Huang, and J. A. Rogers. Skin-Integrated Devices with Soft, Holey Architectures for Wireless
          Physiological Monitoring, With Applications in the Neonatal Intensive Care Unit. <i>Advanced Materials</i> <b>33</b>, 2103974 (2021). 
          <a href="https://doi.org/10.1002/adma.202103974" target="_blank">https://doi.org/10.1002/adma.202103974</a> 
           </p>

        <p><b><u>C. Liu</u></b>*, J.-T. Kim*, S. S. Kwak*, A. Hourlier-Fargette*, R. Avila, J. Vogl, A. Tzavelis, H. U. Chung,
           J. Y. Lee, D. H. Kim, D. Ryu, K. B. Fields, J. L. Ciatti, S. Li, M. Irie, A. Bradley, A. Shukla, J. Chavez,
           E. C. Dunne, S. S. Kim, J. Kim, J. B. Park, H. H. Jo, J. Kim, M. C. Johnson, J. W. Kwak, S. R. Madhvapathy,
           S. Xu, C. M. Rand, L. E. Marsillio, S. J. Hong, Y. Huang, D. E. Weese-Mayer, and J. A. Rogers. Wireless, Skin-Interfaced Devices for
           Pediatric Critical Care: Application to Continuous, Noninvasive Blood Pressure Monitoring. <i>Advanced Healthcare Materials</i> <b>10</b>, 2100383 (2021). 
          <a href="https://doi.org/10.1002/adhm.202100383" target="_blank">https://doi.org/10.1002/adhm.202100383</a> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adhm.202170080" target="_blank">(Cover Feature)</a></b></p>

        <p>J. L. Vogl, E. C. Dunne, <b><u>C. Liu</u></b>, A. Bradley, A. Rwei, E. K. Lonergan, B. S. Hopkins, S. S. Kwak, C. D. Simon,
           C. M. Rand, J. A. Rogers, D. E. Weese-Mayer, and C. F. Garfield. Kangaroo father care: A pilot feasibility study of physiologic, biologic, and
           psychosocial measures to capture the effects of father-infant and mother-infant skin-to-skin contact in the Neonatal Intensive Care Unit. 
           <i>Developmental Psychobiology</i> <b>63</b>, 1521-1533 (2021). <a href="https://doi.org/10.1002/dev.22100" target="_blank">https://doi.org/10.1002/dev.22100</a> </p>

        <p>D. Ryu*, D. H. Kim*, J. T. Price*, J. Y. Lee*, H. U. Chung*, E. Allen, J. R. Walter, H. Jeong, J. Cao, E. Kulikova,
          H. Abu-Zayed, R. Lee, K. L. Martell, M. Zhang, B. R. Kampmeier, M. Hill, J.H. Lee, E. Kim, Y. Park, H. Jang, H. Arafa, 
          <b><u>C. Liu</u></b>, M. Chisembele, B. Vwalika, N. Sindano, M. B. Spelke, A. S. Paller, A. Premkumar, W. A. Grobman, J. S. A. Stringer, J. A. Rogers, and S. Xu. 
          Comprehensive pregnancy monitoring with a network of wireless, soft, and flexible sensors in high- and low-resource health settings.
          <i>Proceedings of the National Academy of Sciences</i> <b>118</b>, e2100466118 (2021). 
          <a href="https://doi.org/10.1073/pnas.210046611" target="_blank">https://doi.org/10.1073/pnas.210046611</a></p>

 <br><br> 
<h4 class="fw-bold pb-1 mb-3">2020</h4>
        
        <p> J. W. Kwak*, M. Han*, Z. Xie, H. U. Chung, J. Y. Lee, R. Avila, J. Yohay, X. Chen, C. Liang, M. Patel, I. Jung, J. Kim, M. Namkoong, K. Kwon, X. Guo,
           C. Ogle, D. Grande, D. Ryu, D. H. Kim, S. Madhvapathy, <b><u>C. Liu</u></b>, D. S. Yang, Y. Park, R. Caldwell, A. Banks, S. Xu, Y. Huang, S. Fatone, and J. A. Rogers. Wireless sensors for continuous, multimodal measurements
          at the skin interface with lower limb prostheses. <i>Science Translational Medicine</i> <b>12</b>, eabc4327 (2020). 
          <a href="https://doi.org/10.1126/scitranslmed.abc4327" target="_blank">https://doi.org/10.1126/scitranslmed.abc4327</a> 
           </p>

        <p>Y. S. Choi*, Y.-Y. Hsueh*, J. Koo*, Q. Yang*, R. Avila, B. Hu, Z. Xie, G. Lee, Z. Ning, <b><u>C. Liu</u></b>, Y. Xu, Y. J. Lee, W. Zhao, J. Fang, Y. Deng, 
           S. M. Lee, A. Vázquez-Guardado, I. Stepien, Y. Yan, J. W. Song, C. Haney, Y. S. Oh, W. Liu, H.-J. Yoon, A. Banks, M. R. MacEwan, G. A. Ameer, W. Z. Ray, Y. Huang, 
           E. C. Dunne, S. S. Kim, J. Kim, J. B. Park, H. H. Jo, J. Kim, M. C. Johnson, J. W. Kwak, S. R. Madhvapathy,
           T. Xie, C. K. Franz, S. Li, and J. A. Rogers. Stretchable, dynamic covalent polymers for soft, long-lived bioresorbable electronic 
          stimulators designed to facilitate neuromuscular regeneration. <i>Nature Communications</i> <b>11</b>, 5990 (2020). 
          <a href="https://doi.org/10.1038/s41467-020-19660-6" target="_blank">https://doi.org/10.1038/s41467-020-19660-6</a> 
        </p>

        <p>H. U. Chung*, A. Y. Rwei*, A. Hourlier-Fargette*, S. Xu, K.H. Lee, E. C. Dunne, Z. Xie, <b><u>C. Liu</u></b>, A. Carlini, D. H. Kim, D. Ryu, E. Kulikova, 
          J. Cao, I. C. Odland, K. B. Fields, B. Hopkins, A. Banks, C. Ogle, D. Grande, J. B. Park, J. Kim, M. Irie, H. Jang, J.H. Lee, Y. Park, J. Kim, 
          H. H. Jo, H. Hahm, R. Avila, Y. Xu, M. Namkoong, J. W. Kwak, E. Suen, M. A. Paulus, R. J. Kim, B. V. Parsons, K. A. Human, 
          S. S. Kim, M. Patel, W. Reuther, H. S. Kim, S. H. Lee, J. D. Leedle, Y. Yun, S. Rigali, T. Son, I. Jung, H. Arafa, 
          V. R. Soundararajan, A. Ollech, A. Shukla, A. Bradley, M. Schau, C. M. Rand, L. E. Marsillio, Z. L. Harris, 
          Y. Huang, A. Hamvas, A. S. Paller, D. E. Weese-Mayer, J. Y. Lee, and J. A. Rogers. Skin-interfaced biosensors for advanced wireless physiological monitoring
           in neonatal and pediatric intensive care-units. 
           <i>Nature Medicine</i> <b>26</b>, 418-429 (2020). <a href="https://doi.org/10.1038/s41591-020-0792-9" target="_blank">https://doi.org/10.1038/s41591-020-0792-9</a>
         <b><a href="https://www.nature.com/nm/volumes/26/issues/3" target="_blank">(Cover Feature)</a></b></p>

        <p>A. Hourlier-Fargette, S. Schon, Y. Xue, R. Avila, W. Li, Y. Gao, <b><u>C. Liu</u></b>, S. B. Kim, M. S. Raj, K. B. Fields, B. V. Parsons, K.H. Lee, J. Y. Lee, 
          H. U. Chung, S. P. Lee, M. Johnson, A. J. Bandodkar, P. Gutruf, J. B. Model, A. J. Aranyosi, J. Choi, T. R. Ray, R. Ghaffari Y. Huang, and J. A. Rogers. 
          Skin-interfaced soft microfluidic systems with modular and reusable electronics for in situ capacitive sensing of sweat loss, rate and conductivity. 
          <i>Lab on a Chip</i> <b>20</b>, 4391-4403 (2020). 
          <a href="https://doi.org/10.1039/D0LC00705F" target="_blank">https://doi.org/10.1039/D0LC00705F</a> 
        <b><a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc90131h" target="_blank">(Cover Feature)</a></b></p>


 <br><br> 
<h4 class="fw-bold pb-1 mb-3">2019</h4>
        
        <p> J. T. Reeder, Y. Xue, D. Franklin, Y. Deng, J. Choi, O. Prado, R. Kim, <b><u>C. Liu</u></b>, J. Hanson, J. Ciraldo, A. J. Bandodkar, S. Krishnan, 
          A. Johnson, E. Patnaude, R. Avila, Y. Huang, and J. A. Rogers. Resettable skin interfaced microfluidic sweat collection devices with chemesthetic
           hydration feedback. <i>Nature Communications</i> <b>10</b>, 5513 (2019). 
          <a href="https://doi.org/10.1038/s41467-019-13431-8" target="_blank">https://doi.org/10.1038/s41467-019-13431-8</a> 
           </p>

        <p>Y. S. Choi*, Y.-Y. Hsueh*, J. Koo*, Q. Yang*, R. Avila, B. Hu, Z. Xie, G. Lee, Z. Ning, <b><u>C. Liu</u></b>, Y. Xu, Y. J. Lee, W. Zhao, J. Fang, Y. Deng, 
           S. M. Lee, A. Vázquez-Guardado, I. Stepien, Y. Yan, J. W. Song, C. Haney, Y. S. Oh, W. Liu, H.-J. Yoon, A. Banks, M. R. MacEwan, G. A. Ameer, W. Z. Ray, Y. Huang, 
           E. C. Dunne, S. S. Kim, J. Kim, J. B. Park, H. H. Jo, J. Kim, M. C. Johnson, J. W. Kwak, S. R. Madhvapathy,
           T. Xie, C. K. Franz, S. Li, and J. A. Rogers. Stretchable, dynamic covalent polymers for soft, long-lived bioresorbable electronic 
          stimulators designed to facilitate neuromuscular regeneration. <i>Nature Communications</i> <b>11</b>, 5990 (2020). 
          <a href="https://doi.org/10.1038/s41467-020-19660-6" target="_blank">https://doi.org/10.1038/s41467-020-19660-6</a> 
        </p>

        <p>H. U. Chung*, A. Y. Rwei*, A. Hourlier-Fargette*, S. Xu, K.H. Lee, E. C. Dunne, Z. Xie, <b><u>C. Liu</u></b>, A. Carlini, D. H. Kim, D. Ryu, E. Kulikova, 
          J. Cao, I. C. Odland, K. B. Fields, B. Hopkins, A. Banks, C. Ogle, D. Grande, J. B. Park, J. Kim, M. Irie, H. Jang, J.H. Lee, Y. Park, J. Kim, 
          H. H. Jo, H. Hahm, R. Avila, Y. Xu, M. Namkoong, J. W. Kwak, E. Suen, M. A. Paulus, R. J. Kim, B. V. Parsons, K. A. Human, 
          S. S. Kim, M. Patel, W. Reuther, H. S. Kim, S. H. Lee, J. D. Leedle, Y. Yun, S. Rigali, T. Son, I. Jung, H. Arafa, 
          V. R. Soundararajan, A. Ollech, A. Shukla, A. Bradley, M. Schau, C. M. Rand, L. E. Marsillio, Z. L. Harris, 
          Y. Huang, A. Hamvas, A. S. Paller, D. E. Weese-Mayer, J. Y. Lee, and J. A. Rogers. Skin-interfaced biosensors for advanced wireless physiological monitoring
           in neonatal and pediatric intensive care-units. 
           <i>Nature Medicine</i> <b>26</b>, 418-429 (2020). <a href="https://doi.org/10.1038/s41591-020-0792-9" target="_blank">https://doi.org/10.1038/s41591-020-0792-9</a>
         <b><a href="https://www.nature.com/nm/volumes/26/issues/3" target="_blank">(Cover Feature)</a></b></p>

    

 <br><br>
    
      </div>
</div>




    <!-- {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}-->

