<div class="row g-5 mb-5">
  <div>
    <!--<h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>-->
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="30%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="30%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="30%"></a>
 
   <br><br>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/admt.202300732"><img src="{{ site.github.url }}/assets/img/2023_AMT_CL.png" alt="Advanced Materials Technologies Cover (2023)" width="30%"></a>
    <a href="https://www.nature.com/articles/s41591-020-0792-9"><img src="{{ site.github.url }}/assets/img/2020_NatMed.png" alt="Nature Medicine Cover (2020)" width="30%"></a>
    <a href="https://pubs.acs.org/doi/full/10.1021/acssuschemeng.4c07823"><img src="{{ site.github.url }}/assets/img/2025_ACS.png" alt="ACS Sustainable Chem Eng Cover (2025)" width="30%"></a>
    <br><br>
    <a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc00705f"><img src="{{ site.github.url }}/assets/img/2020_LabChip2.png" alt="Lab Chip Cover (2020)" width="30%"></a>
    <a href="https://www.nature.com/articles/s41551-019-0480-6"><img src="{{ site.github.url }}/assets/img/2020_NatBME.png" alt="Nature BME Cover (2020)" width="30%"></a>

  
  </div>
</div>
<br>
 <p>To view all publications and citations, please check <a href="https://scholar.google.com/citations?user=YUNb8NgAAAAJ&hl=en">Google Scholar</a>.</p>

      <p>*denotes equal contribution</p>
    <br>
    
      <h4 class="fw-bold pb-1 mb-3">2025</h4>
      <p>H.-S. Shin*, J. Kim*, N. Fadell, L. B. Pewitt, Y. Shaaban, <b><u>C. Liu</u></b>, M.-S. Jo, J. Bozovic, A. Tzavelis, M. Park, K. Koogler, J.-T. Kim, J.-Y. Yoo, J. A. Rogers, and M. A. Pet. Soft, skin-interfaced 
        wireless electrogoniometry systems for continuous monitoring of finger and wrist joints. <i>Nature Communications</i> <b>16</b>, 4426 (2025). <a href="https://doi.org/10.1038/s41467-025-59619-z">https://doi.org/10.1038/s41467-025-59619-z</a></p>
      
      <p>L. C. Alarcon-Segóvia*, K. E. Madsen*, <b><u>C. Liu</u></b>, S. H. Kim, T. W. Park, Y. Du, J. L. Ciatti, K. H. Salame, J.-Y. Yoo, and J. A. Rogers. Ultralow-Cost Hydrogel Electrolytes Based on
        Agricultural Byproducts for Distributed Electrophysiological Recording in Resource-Limited Settings. <i>ACS Sustainable Chemistry  & Engineering</i> <b>13</b>, 17, 6051-6063 (2025). <a href="https://doi.org/10.1021/acssuschemeng.4c07823">https://doi.org/10.1021/acssuschemeng.4c07823</a> <b><a href="https://pubs.acs.org/toc/ascecg/13/17">(Cover Feature)</a></b></p>
    
    
    <br><br>
    
      <h4 class="fw-bold pb-1 mb-3">2024</h4>
        
        <p> <b><u>C. Liu</u></b>, S. O. Kelley, and Z. Wang. Self-Healing Materials for Bioelectronic Devices. <i>Advanced Materials</i> <b>36</b>, 2401219 (2024). <a href="https://doi.org/10.1002/adma.202401219">https://doi.org/10.1002/adma.202401219</a> <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adma.202470278">(Cover Feature)</a></b> </p>

    <br><br>
    
    <h4 class="fw-bold pb-1 mb-3">2023</h4>
        
        <p> Y. Wu*, <b><u>C. Liu</u></b>*, M. Lapiere, J. L. Ciatti, D. S. Yang, J. Berkovich, J. B. Model, A. Banks, R. Ghaffari, J.-K. Chang, R. G.
          Nuzzo, and J. A. Rogers. Thermoplastic Elastomers for Wireless, Skin-Interfaced Electronic, and Microfluidic Devices. <i>Advanced Materials Technologies</i> <b>8</b>, 2300732 (2023). <a href="https://doi.org/10.1002/admt.202300732">https://doi.org/10.1002/admt.202300732</a> <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/admt.202370101">(Cover Feature)</a></b> 
          <b><a href="https://advanced.onlinelibrary.wiley.com/doi/toc/10.1002/(ISSN)2365-709X.editors-choice?page=2">(Editor's Choice Feature)</a></b> </p>

        <p>J. Kim*, S. Yoo*, <b><u>C. Liu</u></b>*, S. S. Kwak*, J. R. Walter, S. Xu, and J. A. Rogers. Skin-interfaced wireless biosensors for perinatal and
          paediatric health. <i>Nature Reviews Bioengineering</i> <b>1</b>, 631-647 (2023). <a href="https://doi.org/10.1038/s44222-023-00090-0">https://doi.org/10.1038/s44222-023-00090-0</a></p>

        <p><b><u>C. Liu</u></b>*, J.-T. Kim*, D. S. Yang*, D. Cho*, S. Yoo, S. R. Madhvapathy, H. Jeong, T. Yang, H. Luan, R. Avila, J. Park, Y. Wu, K. Bryant, M. Cho, 
          J.Y. Lee, J. Y. Kwak, W.H. Ryu, Y. Huang, R. G. Nuzzo, and J. A. Rogers. Multifunctional Materials Strategies for Enhanced Safety of Wireless, Skin-Interfaced
          Bioelectronic Devices. <i>Advanced Functional Materials</i> <b>33</b>, 2302256 (2023). <a href="https://doi.org/10.1002/adfm.202302256">https://doi.org/10.1002/adfm.202302256</a> <b><a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adfm.202370203">(Cover Feature)</a></b></p>

        <p>H. Lin, B. C. Blackwell, C. C. Call, S. Liu, <b><u>C. Liu</u></b>, M. M. Driscoll, and J. J. Richards. FSVPy: A python-based
          package for fluorescent streak velocimetry (FSV) <i>Journal of Rheology</i> <b>67</b>, 197-206 (2023). <a href="https://doi.org/10.1122/8.0000521">https://doi.org/10.1122/8.0000521</a></p>


 <br><br>
    
    <h4 class="fw-bold pb-1 mb-3">2022</h4>

        <p>M. Fornaro, C. Dipollina*, Darryl Giambalvo*, R. Garcia*, C. Sigerson, H. Sharthiya, <b><u>C. Liu</u></b>, P. F. Nealey, K. Kristjansdottir, 
          and J. Z. Gasiorowski. Submicron Topographically Patterned 3D Substrates Enhance Directional Axon
          Outgrowth of Dorsal Root Ganglia Cultured Ex Vivo. <i>Biomolecules</i> <b>12</b>, 1059 (2022). <a href="https://doi.org/10.3390/biom12081059">https://doi.org/10.3390/biom12081059</a></p>

        <p> J. T. Reeder*, Z. Xie*, Q. Yang*, M.-H. Seo*, Y. Yan, Y. Deng, K. R. Jinkins, S. R. Krishnan, <b><u>C. Liu</u></b>*, S. McKay,
          E. Patnaude, A. Johnson, Z. Zhao, M. J. Kim, Y. Xu, I. Huang, R. Avila, C. Felicelli, E. Ray, X. Guo, W. Z. Ray, Y. Huang, M. R. MacEwan, and J. A. Rogers. 
          Soft, bioresorbable coolers for reversible conduction block of peripheral nerves. <i>Science</i> <b>377</b>, 109-115 (2022). <a href="https://doi.org/10.1126/science.abl8532">https://doi.org/10.1126/science.abl8532</a></b> 
           </p>

        <p>J. Kim*, S. Yoo*, <b><u>C. Liu</u></b>*, S. S. Kwak*, J. R. Walter, S. Xu, and J. A. Rogers. Skin-interfaced wireless biosensors for perinatal and
          paediatric health. <i>Nature Reviews Bioengineering</i> <b>1</b>, 631-647 (2023). <a href="https://doi.org/10.1038/s44222-023-00090-0">https://doi.org/10.1038/s44222-023-00090-0</a></p>

       

    
      </div>
</div>




    <!-- {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}-->

