---
layout: default
---

<div class="row g-4 mb-5">
  <div class="col-md-6">
    <h4 class="fw-bold">Biography</h4>
    <br>
    <p>Claire Liu is currently a research scientist at the <a href="https://www.czbiohub.org/chi/" target="_blank">Chan Zuckerberg Biohub Chicago</a>, where she is developing new approaches to enable spatiotemporal omics studies of inflammation. 
      She received her Ph.D. in Biomedical Engineering from Northwestern University, where she was advised by Professor John A. Rogers, and was awarded the U.S. National Science Foundation Graduate Research Fellowship. 
      She has published over twenty peer-reviewed articles and is listed as an inventor on two pending patents. 
      Her research interests span the sciences, engineering, and arts, with a particular focus on soft materials and bio-integrated devices.</p>
  </div>
  <div class="col-md-6">
    <br><br>
    <img src="{{ site.github.url }}/assets/img/CL_headshot.png" alt="Home" width="65%">
  </div>
</div>

<div class="row g-4 mb-5">
  <div class="col-md-6">
    <h4 class="fw-bold">Featured Work</h4>
  </div>
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219" target="_blank"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383" target="_blank"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="24%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/admt.202300732" target="_blank"><img src="{{ site.github.url }}/assets/img/2023_AMT_CL.png" alt="Advanced Materials Technologies Cover (2023)" width="24%"></a>
    <br><br>
    <a href="https://www.nature.com/articles/s41591-020-0792-9" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatMed.png" alt="Nature Medicine Cover (2020)" width="24%"></a>
    <a href="https://www.nature.com/articles/s41551-019-0480-6" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_NatBME.png" alt="Nature BME Cover (2020)" width="24%"></a>
    <a href="https://pubs.acs.org/doi/full/10.1021/acssuschemeng.4c07823" target="_blank"><img src="{{ site.github.url }}/assets/img/2025_ACS.png" alt="ACS Sustainable Chem Eng Cover (2025)" width="24%"></a>
    <a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc00705f" target="_blank"><img src="{{ site.github.url }}/assets/img/2020_LabChip2.png" alt="Lab Chip Cover (2020)" width="24%"></a>
  
  </div>
</div>

<!-- <div class="row g-3 mb-3">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->

