---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Biography</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/CL_headshot.png" alt="Home" width="70%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Research</h3>
    <!--{{ content }}-->
  </div>
  <div class="col-md-12">
    <img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Home" width="33%">
    <img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Home" width="33%">
    <img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Home" width="33%">
    <br><br><br>
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="30%">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="30%">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="30%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
