---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Biography</h3>
    {{ content }}
  </div>
  <div class="col-md-1">
    <img src="{{ site.github.url }}/assets/img/CL_headshot.png" alt="Home" width="70%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Featured Publications</h3>
    <!--{{ content }}-->
  </div>
  <div class="col-md-12">
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adma.202401219"><img src="{{ site.github.url }}/assets/img/2024_AM_CL.png" alt="Advanced Materials Cover (2024)" width="30%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adfm.202302256"><img src="{{ site.github.url }}/assets/img/2023_AFM_CL.png" alt="Advanced Functional Materials Cover (2023)" width="30%"></a>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/adhm.202100383"><img src="{{ site.github.url }}/assets/img/2021_AHM_CL.png" alt="Advanced Healthcare Materials Cover (2021)" width="30%"></a>
    <br><br>
    <a href="https://advanced.onlinelibrary.wiley.com/doi/full/10.1002/admt.202300732"><img src="{{ site.github.url }}/assets/img/2023_AMT_CL.png" alt="Advanced Materials Technologies Cover (2023)" width="30%"></a>
    <a href="https://www.nature.com/articles/s41591-020-0792-9"><img src="{{ site.github.url }}/assets/img/2020_NatMed.png" alt="Nature Medicine Cover (2020)" width="30%"></a>
    <a href="https://pubs.acs.org/doi/full/10.1021/acssuschemeng.4c07823"><img src="{{ site.github.url }}/assets/img/2025_ACS.png" alt="ACS Sustainable Chem Eng Cover (2025)" width="30%"></a>
    <br><br>
    <a href="https://pubs.rsc.org/en/content/articlelanding/2020/lc/d0lc00705f"><img src="{{ site.github.url }}/assets/img/2020_LabChip2.png" alt="Lab Chip Cover (2020)" width="30%"></a>
    <a href="https://www.nature.com/articles/s41551-019-0480-6"><img src="{{ site.github.url }}/assets/img/2020_NatBME.png" alt="Nature BME Cover (2020)" width="30%"></a>

  </div>
</div>

<!--{% include publications.html %}-->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
